@charset "ISO-8859-1";

#header
{
  color: #F5F5F5;
  background-color: #2F4F4F;
  text-align: center;
  font-family: Syncopate;
}
#footer
{
   position:fixed;
   left: 0;
   bottom: 0;
  color: #2F4F4F;
  text-align: center;
  font-family: Syncopate;
}
img
{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  object-fit: fill;

}
#menubar
{
	background:#333300;
}

ul#list-nav 
{
  margin:0px;
  padding:0;
  list-style:none;
  width:100%;
}
ul#list-nav li {
  display:inline
}
ul#list-nav li a {
 text-decoration:none;
 font-style: italic;
 padding:5px 0;
 width:200px;
 background:#333300;
 color:#eee;
 float:left;
}
p
{
	text-align: center;
	font-weight: bold;
}

