<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">  

<h:head> <h:outputStylesheet name = "css/styles.css"  /> </h:head> 
<body> 
	<ui:composition>   
         <br /><br />
         <h1>Old school Movie Rental</h1>
         <br /><br />
      </ui:composition>	
</body> 
</html>
