<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="https://primefaces.org/ui"> 


<h:head></h:head> 
<h:body> 
      <ui:composition> 
         <h:form>
					<br></br>
			Username:<h:inputText id= "email" value="#{user.emailAddress}"/> &nbsp;<h:message for="email" style="color: red"/>
					<br></br>
					<br></br>
			Password:<h:inputText id = "password" value="#{user.password}"/> &nbsp;<h:message for="password" style="color: red"/>
					<br></br>
					<br></br>
			<h:commandButton id="submit" value="Submit" action="#{formController.Authenticate(user)}"></h:commandButton>
		   </h:form>
      </ui:composition>	
</h:body> 
</html>
