<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">  

<h:head><h:outputStylesheet name = "css/styles.css"  /></h:head> 
<body>
	<ui:composition>  
		<ul id="list-nav">
			<li><h:link outcome="index" value="Home" /></li>	
 			 <li><h:link outcome="CustomerLogin" value="Customer Login" /></li>
 			 <li><h:link outcome="CustomerRegistration" value="Customer Registration" /></li>
  			<li><a href="#">Movie Inventory</a></li>
  			<li><a href="#">Employee Login</a></li>
  			<li><a href="#">Employee Registration</a></li>
		</ul>
		<br />
	</ui:composition>  
</body>
</html>
